$persian-rose: #fc199a;
$supernova: #fc0;
$malibu: #61e2ff;

$normal-rounded: 2px;

html, body {
    margin: 0;
    overflow: hidden;
    font-family: 'Baloo Chettan 2', cursive;
    user-select: none;
}
